// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hello-page {
  text-align: center;
  margin-top: 30px;
  img {
    display: inline-block;
    width: 30%;
    height: auto;
  }
}